<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>Fedorchuk Django Project</title>
    <style type="text/css">
        body {
            font-family: Geneva, Arial, Helvetica, sans-serif;
        }
    </style>
    {% endblock %}
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div id="content">{% block content %}
        <a href="{% url 'list-students' %}">LIST STUDENTS</a></br>
        <a href="{% url 'create-student' %}">CREATE Student</a></br>

        <span>______</span><a href="{% url 'generate' %}">Создать студентов с CELERY</a></br>
        <span>______</span><a href="{% url 'contactus' %}">Contuct US</a></br>

        <span>______</span><a href="{% url 'generate-student' %}">Generate one fake student</a></br>
        <span>______</span> <a href="{% url 'generate-students' %}">Generate a number of students with query count=number</a></br>
        <span>______</span> <a href="{% url 'generate-now' %}">Generate a number of fake student now</a></br>
        <span>____________________________________________________________________</span></br>
        <span>____________________________________________________________________</span></br>
        <span>                                                                    </span></br>
        <a href="{% url 'list-teachers' %}">LIST TEACHERS</a></br>
        <a href="{% url 'create-teacher' %}">CREATE TEACHERS</a></br>
        <span>____________________________________________________________________</span></br>
        <span>____________________________________________________________________</span></br>
        <span>                                                                    </span></br>

        <a href="{% url 'list-groups' %}">LIST GROUPS</a></br>
        <a href="{% url 'create-group' %}">CREATE GROUP</a></br>
        <span>____________________________________________________________________</span></br>
        <span>____________________________________________________________________</span></br>
        <span>                                                                    </span></br>




        <span>____________________________________________________________________</span></br>
        <span>____________________________________________________________________</span></br>
        <span>                                                                    </span></br>

        <a href="{% url 'exchange' %}">EXCHANGE RATES</a></br>

        <span>____________________________________________________________________</span></br>
        <span>____________________________________________________________________</span></br>
        <span>                                                                    </span></br>



        <a href="{% url 'admin:index' %}">link to admin panel</a> {% endblock %}


    </div>
</body>

</html>