{% extends "parent.html" %} {% block head %} {{ block.super }}
<style type="text/css">
    body {
        background-color: aquamarine;
    }
</style>
{% endblock %} {% block content %}
<h1>Student List</h1>
<a href="{% url 'list-teachers' %}">LIST TEACHERS</a>
<a href="{% url 'list-groups' %}">LIST GROUPS</a>
<a href="{% url 'index' %}">BACK TO MAIN PAGE</a>
<table class="table table-hover table-sm">
    <tr>
        <th>ID</th>
        <th>last_name</th>
        <th>first_name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>status</th>
        <th>Group</th>

        <th>Headed Group</th>





    </tr>
    {% for student in students%}
    <tr>
        <th>{{student.id}}</th>
        <th>{{student.last_name}}</th>
        <th>{{student.first_name}}</th>
        <th>{{student.age}}</th>
        <th>{{student.phone}}</th>
        <th>{{student.status}}</th>
        <th>{% if student.group %}{{ student.group.descipline }}{% endif %}</th>
        <th>{% if student.submissive_group %}{{student.submissive_group.descipline}}{% endif %} </th>
    </tr>
    {% endfor %}

</table>


{% if students.has_previous %}
<a href="{% url 'list-students' %}?page={{students.previous_page_number}}">Previous Page</a> {% endif %} {% if students.has_next %}
<a href="{% url 'list-students' %}?page={{students.next_page_number}}">Next Page</a> {% endif %} {% endblock %}