{% extends 'parent.html' %}
{% block head %}
    {{ block.super }}
        <style type="text/css">
            body {
                background-color: rgb(107, 24, 42);
            }
        </style>
{%endblock%}
{% block content %}
    <h1>Group creation form</h1>
        <form action="{%url 'create-group' %}" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
{% endblock %}




    



    