{% extends "parent.html" %} {% block head %} {{ block.super }}
<style type="text/css">
    body {
        background-color: rgb(231, 241, 238);
    }
</style>
{% endblock %} {% block content %} {{ block.super }}
<h1>LIST GROUPS</h1>
<a href="{% url 'list-teachers' %}">LIST TEACHERS</a>
<a href="{% url 'list-students' %}">LIST STUDENTS</a>
<a href="{% url 'index' %}">BACK TO MAIN PAGE</a>
<table class="table table-striped">
    <thead class="thead-dark">
        <th>Group name</th>
        <th>Hours to take</th>
        <th>Curator</th>
        <th>Head man</th>
        <th>DELETE</th>
        <th>EDIT</th>
    </thead>
    {% for group in groups %}
    <tr>

        <td>{{ group.descipline}}</td>
        <td>{{ group.hours_to_take }}</td>
        <td>{% if group.curator %}{{ group.curator.last_name }} {{ group.curator.first_name }}{% endif %}</td>
        <td>{% if group.headman %}{{ group.headman.last_name }} {{ group.headman.first_name }}{% endif %}</td>
        <td><a href="{% url 'edit-group' group.id %}">EDIT</a></td>
        <td><a href="{% url 'delete-group' group.id %}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>

{% if groups.has_previous %}
<a href="{% url 'list-groups' %}?page={{groups.previous_page_number}}">Previous Page</a> {% endif %} {% if groups.has_next %}
<a href="{% url 'list-groups' %}?page={{groups.next_page_number}}">Next Page</a>{% endif %}{% endblock %}