{% extends "parent.html" %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        body { background-color: rgb(48, 71, 48); }
    </style>
{% endblock %}
{% block content %}
{{ block.super }}

<h1>Groups List</h1>
    <ul>
        {% for group in groups %}
        <li>
            {{ group.id|safe }}. {{ group.descipline|safe }} {{ group.hours_to_take|safe }} 
            <a href="{% url 'edit-group' group.id %}">Edit</a> 
            <a href="{% url 'delete-group' group.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}