<!DOCTYPE html>
<html lang="en">
<head>
    
    
    {% block head %}
        <title>Fedorchuk Django Project</title>
        <style type="text/css">
            body {
                font-family: Geneva, Arial, Helvetica, sans-serif;
            }
        </style>
    {% endblock %}



</head>
<body>
    
</body>


<sidebar>
    
    
    
    
    <div id="content">{% block content %}
        
        
        <style type="css">
    sidebar {
        font-family: Geneva, Arial, Helvetica, sans-serif;
    width: 300px;
    }
        

        </style>


        
        {% endblock %}</div>




    
</sidebar>


</html>