{% extends "parent.html" %} {% block head %} {{ block.super }}
<style type="text/css">
    body {
        background-color: rgb(217, 243, 234);
    }
</style>
{% endblock %} {% block content %}
<h1>Exchange rates List</h1>
<a href="{% url 'list-teachers' %}">LIST TEACHERS</a>
<a href="{% url 'list-groups' %}">LIST GROUPS</a>
<a href="{% url 'index' %}">BACK TO MAIN PAGE</a>
<table class="table table-striped">
    <thead class="thead-dark">
        <th>CREATED</th>
        <th>CURRENCY</th>
        <th>BANK</th>
        <th>SELL</th>
        <th>BUY</th>
    </thead>
    {% for exchange in exchange_list%}
    <tr>
        <td>{{exchange.created}}</td>
        <th>{{exchange.currency}}</th>
        <th>{{exchange.bank}}</th>
        <th>{{exchange.sale_price}}</th>
        <th>{{exchange.buy_price}}</th>

    </tr>
    {% endfor %}

</table>


{% endblock %}